@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-inteiro{
    width: 1000px;
    margin: 0 auto;
}

.cabecalho{
    text-align: center;
    background-image: url('imagens/fundo-banner.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo{
    font-family: cookie;
    font-size: 60px;
    line-height: 35px;
    color: #718338;
    font-weight: normal;
}

.titulo-pequeno{
    font-size: 30px;
}



.menu-principal{
    background-color: #6b705b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: roboto;
    color: #ffe8d6;
}

.item-menu{
    color: #ffe8d6;
}


